.usdobserver {
    margin: 2% 5%;
}

.usdobserver-header {
    text-align: center;
}

.usdobserver-chart {
    text-align: center;
}

.usdobserver-table {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}