<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>USDObserver</title>
    <link rel="stylesheet" href="css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="css/jquery.dataTables.css"/>
    <link rel="stylesheet" href="css/usdobserver.css"/>
    <link rel="stylesheet" href="css/jquery.loading-indicator.css"/>
    <link rel="stylesheet" href="css/rowGroup.jqueryui.min.css"/>
</head>
<body>

<div class="usdobserver">
    <div class="usdobserver-header">
        <p>
            <button id="download-rates">Download exchange rates</button>
            <button id="download-excel">Download Excel</button>
        </p>

        <p>Date from: <input type="text" name="date-from" id="date-from"/>
            to: <input type="text" name="date-to" id="date-to"/></p>
    </div>
    <div class="usdobserver-chart">
        <canvas id="rates-chart" height="300px"></canvas>
    </div>
    <div class="usdobserver-table">
        <table id="rates-table" class="cell-border hover " cellspacing="0" width="100%">
            <thead>
            <tr>
                <th><b>Date</b></th>
                <th><b>Exchange rate</b></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th><b>Date</b></th>
                <th><b>Exchange rate</b></th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="loading-indicator-wrapper loader-hidden">
        <span class="loading-indicator-helper"></span>
        <div class="loader"></div>
    </div>
</div>

<script src="js/external/jquery/jquery.js"></script>
<script src="js/jquery-ui.min.js"></script>
<!--table-->
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/dataTables.rowGroup.js"></script>
<!--custom js-->
<script src="js/usdobserver.js"></script>
<!--chart.js-->
<script src="js/chart/Chart.js"></script>
<script src="js/chart/Chart.bundle.js"></script>
<script src="js/chart/Chart.bundle.min.js"></script>
<script src="js/chart/Chart.min.js"></script>
<!--loading indicator-->
<script src="js/jquery.loading-indicator.js"></script>
</body>
</html>